/*
*= require destyle.css
*/

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 0;
  border-bottom: 1px solid #ddd;
}

@media screen {
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
}

/* 追加 */
/* ref. https://github.com/chromium/chromium/blob/326c700331fce74d87ebb1091ecd0f1ae7eea5d4/third_party/blink/renderer/core/html/resources/html.css#L1517 */
@page {
  /* FIXME: Define the right default values for page properties. */
  size: auto;

  padding: 0px;
  border-width: 0px;
}

/* Allows table headers and footers to print at the top / bottom of each
    page. */
thead { break-inside: avoid; }
tfoot { break-inside: avoid; }